<!DOCTYPE HTML>
<!--{{PageLicense}}-->
<html>
	<head>
		<title>Pleuston Comunity</title>
		{% include "_header.template.html" %}
        {% for items in OverallHeaderContents %}
		{{items}}
		{% endfor %}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Pleuston</strong> by Pleuston Project</a>
									<ul class="icons">
										<li>
											{% for icon in IndexPageFeatures.social_media %}
											<a href="{{icon.link}}" id="header-{{icon.name}}" class="{{icon.icon}}"><span class="label">{{icon.name}}</span></a>
											{% endfor %}
										</li>

									</ul>
								</header>

							<!------SECTION START--------->
                                <section>
                                    <header class="main">
										<h1>Comunity</h1>                                        
									</header>
                                    <p>Due to policy reasons, the community is currently unavailable. You can subscribe to our latest events via email, or submit messages to give us feedback and suggestions.</p>
                                    <hr class="major" />
                                    <h2>Subscribe to our newsletter</h2>
                                    <form method="post" action="#">
                                        <div class="row gtr-uniform">
                                            <div class="col-6 col-12-xsmall">
                                                <input type="email" name="email" id="email" placeholder="Email Address" />
                                            </div>
                                            <div class="col-12">
                                                 <ul class="actions">
                                                    <li><input type="submit" value="Subscribe" class="primary" /></li>
                                                    <li><input type="reset" value="Reset" /></li>
                                                 </ul>
                                            </div>
                                        </div>
                                    </form>
                                    <hr class="major" />
                                    <h2>Feedback</h2>
                                    <form method="post" action="#">
                                        <div class="row gtr-uniform">
                                            <div class="col-6 col-12-xsmall">
                                                <input type="text" name="name" id="name" placeholder="Name or GSC OpenID" />
                                            </div>
                                            <div class="col-6 col-12-xsmall">   
                                                 <input type="email" name="email" id="email" placeholder="Email" />
                                            </div>
                                            <div class="col-12">
                                                 <textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
                                            </div>
                                            <div class="col-12">
                                                 <ul class="actions">
                                                    <li><input type="submit" value="Send Message" class="primary" /></li>
                                                    <li><input type="reset" value="Reset" /></li>
                                                 </ul>
                                            </div>
                                        </div>
                                    </form>
                                    <hr class="major" />

                                </section>
						</div>
					</div>

				<!-- Sidebar -->
				{% include "_sidebar.template.html" %}
			</div>
		<!-- Scripts -->
		{% include "_scripts.template.html" %}
	</body>
</html>