<!DOCTYPE HTML>
<!--{{PageLicense}}-->
<html>
	<head>
		<title>Pleuston</title>
		{% include "_header.template.html" %}
		{% for items in OverallHeaderContents %}
		{{items}}
		{% endfor %}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Pleuston</strong> by Pleuston Project</a>
									<ul class="icons">
										<li>
											{% for icon in IndexPageFeatures.social_media %}
											<a href="{{icon.link}}" id="header-{{icon.name}}" class="{{icon.icon}}"><span class="label">{{icon.name}}</span></a>
											{% endfor %}
										</li>

									</ul>
								</header>

							<!------SECTION START--------->
							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>{{IndexPageBanner.title}}<br /></h1>
											<p>{{IndexPageBanner.subtitle}}</p>
										</header>
										<p>{{IndexPageBanner.introduction}}</p>
										<ul class="actions">
											<li><a href="{{IndexPageBanner.more_link}}" class="button big">Learn More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="/images/pleuston.png" alt="" referrerpolicy="no-referrer"/>
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>{{IndexPageFeatures.title}}</h2>
									</header>
									<div class="features">
                                        {% for feature in IndexPageFeatures.features %}
										<article>
											<span class="{{feature.icon}}"></span>
											<div class="content">
												<h3>{{feature.title}}</h3>
												<p>{{feature.description}}</p>
											</div>
										</article>
                                        {% endfor %}
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Recent Posts</h2>
									</header>
                                    
									<div class="posts">
                                        {% for project in IndexPageProjects.projects %}
										<article>
											<a href="#" class="image"><img src="{{project.image}}" alt="" referrerpolicy="no-referrer"/></a>
											<h3>{{project.title}}</h3>
											<p>{{project.description}}</p>
											<ul class="actions">
												<li><a href="{{project.link}}" class="button">More</a></li>
											</ul>
										</article>
                                        {% endfor %}
									</div>
								</section>
								<!------SECTION END--------->
						</div>
					</div>

				<!-- Sidebar -->
				{% include "_sidebar.template.html" %}
			</div>
		<!-- Scripts -->
		{% include "_scripts.template.html" %}

	</body>
</html>