<!DOCTYPE HTML>
<!--{{PageLicense}}-->
<html>
	<head>
		<title>Pleuston Public Area</title>
		{% include "_header.template.html" %}
        {% for items in OverallHeaderContents %}
		{{items}}
		{% endfor %}
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Pleuston</strong> by Pleuston Project</a>
									<ul class="icons">
										<li>
											{% for icon in IndexPageFeatures.social_media %}
											<a href="{{icon.link}}" id="header-{{icon.name}}" class="{{icon.icon}}"><span class="label">{{icon.name}}</span></a>
											{% endfor %}
										</li>

									</ul>
								</header>
							<!------SECTION START--------->
                                <section>
                                    <header class="main">
										<h1>Public Area</h1>                                        
									</header>
                                    <p>Welcome to the public area of the Pleuston Project. Here you can find information about the project, its status, and public keys.</p>
                                    <hr class="major" />
                                    <h2>Status of the project</h2>

                                    <div class="table-wrapper">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Project ID</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Start Date</th>
                                                    <th>status</th>
                                                </tr>
                                                <tbody>                                
                                                {% for public in PublicArea.projectStatus %}
                                                    <tr>
                                                        <td>{{public.id}}</td>
                                                        <td>{{public.name}}</td>
                                                        <td>{{public.description}}</td>
                                                        <td>{{public.date}}</td>
                                                        <td><strong>{{public.status}}</strong></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </thead>
                                        </table>
                                    </div>
                                    <hr class="major" />
                                    <h2>Public Keys</h2>
                                    {% for pubitem in PublicArea.pubkeys %}
                                    <h3>{{pubitem.name}}</h3>
                                    <pre><code>{{pubitem.pubkey}}</code></pre>
                                    {% endfor %}
                                    <hr class="major" />
                                </section>
						</div>
					</div>
				<!-- Sidebar -->
				{% include "_sidebar.template.html" %}
			</div>
		<!-- Scripts -->
		{% include "_scripts.template.html" %}
	</body>
</html>